.body {
  padding: 20px 30px;
  position: relative;
}

.notification {
  margin: 5px 0px;
  padding: 10px 16px;
  border-radius: 20px;
  display: inline-block;
  background: #f0f0f0;
}

.message {
  margin: 5px 0px;
  padding: 10px 16px;
  border-radius: 20px;
  display: inline-block;
  background: #ffffff;
  max-width: 100%;
}

.name {
  font-weight: bold;
}

.text {
  max-width: 100%;
  word-wrap: break-word;
  word-break: break-all;
}
