.input {
  border: 2px black solid;
  border-radius: 5px;
  padding: 10px 5px;
  font-size: 18px;
  outline: 0px black solid;
  background-color: #ffffff;
  transition: outline 0.05s, background-color 0.2s;
}

.input:focus {
  outline: 2px black solid;
  background-color: #f8f8f8;
}

.input:disabled {
  border: 2px #8e8e8e solid;
  background-color: #f8f8f8;
  color: #8e8e8e;
}
