.body {
  display: flex;
  height: 100vh;
}

.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex-grow: 3;
  overflow-y: auto;
  background-color: #e5e5ff;
}

.inputName {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputNameLogo {
  font-size: 20px;
  margin-bottom: 10px;
}
